.note{
    padding: 20px;
    height: 280px;
    width: 260px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 30px;
}

.note_text{
    flex: 1;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 1.875rem;
}

.note_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_footer img{
    height: 20px;
    width:20px;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.note:hover .note_footer img{
    opacity: 1; 

}